<h2>Send a secure message</h2>
<%= simple_form_for(@message_submission, {:url => '/send_message', :html => {:class => 'form-horizontal' }}) do |f| %>
  <%= f.input :sender, :label => "Your name" %>
  <%= f.input :content, :input_html => { :cols => 80, :rows => 5, :class => "span8" }, :as => :text, :label => "Your message" %>
  <%= f.input :recipient, :label => "Recipient email address:" %>
  <%= f.input :secret , :label => "Secret Passphrase:" , :hint => "Use this one or type your own" %>
  <%= f.input :phone, :label => "Recipient phone number", :hint => "If you enter a phone number, we'll send the passphrase to the receipent via text message.  Otherwise, you're responsible for giving them the passphase - do NOT send it to them at the same email address." %>
  <div class="form-actions">
  <%= f.submit "Send!", :class => 'btn btn-primary' %>
</div>
<% end %>
