<!DOCTYPE html>
<html>
<head>
  <title>Simply Secure Message Passing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Simply Secure Message Passing</a>
    <ul class="nav">
      <li class="<%= 'active' if current_page?(root_path) %>"><a href="/">Home</a></li>
      <li class="<%= 'active' if current_page?(page_path("faq")) %>"><%= link_to "FAQ", page_path("faq") %></li>
    </ul>
  </div>
</div>
<%= render partial: "flash_messages", flash: flash %>
<div class="container-fluid">
	<div class="row">
		<div class="span12"><%= yield %></div>
	</div>
</div>

</body>
</html>
